# 1. Python Output

In [ ]:
# Python is a case sensitive language
print('Hello World')

print(7)

print(True)

print('Hello',1,4.5,True)

print('Hello',1,4.5,True,sep='/')

print('hello')
print('world')

print('hello',end='-')
print('world')

Hello World
7
True
Hello 1 4.5 True
Hello/1/4.5/True
hello
world
hello-world

# 2. Data Types

In [ ]:
# Integer
print(8)
# 1*10^308
print(1e309)
# Decimal/Float
print(8.55)
print(1.7e309)
# Boolean
print(True)
print(False)
# Text/String
print('Hello World')
# complex
print(5+6j)
# List-> C-> Array
print([1,2,3,4,5])
# Tuple
print((1,2,3,4,5))
# Sets
print({1,2,3,4,5})
# Dictionary
print({'name':'Piyush','gender':'Male','weight':90})
# type
type([1,2,3])

8
inf
8.55
inf
True
False
Hello World
(5+6j)
[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{1, 2, 3, 4, 5}
{'name': 'Piyush', 'gender': 'Male', 'weight': 90}

list

# 3. Variables

In [ ]:
# Static Vs Dynamic Typing
# Static Vs Dynamic Binding
# stylish declaration techniques

# C/C++
name = 'piyush'
print(name)

a = 5
b = 6

# Dynamic Typing
a = 5
# Static Typing
# int b = 5  # This is not valid Python syntax.  In Python, type annotations are used but don't enforce types at runtime.
b = 5

# Dynamic Binding
a = 5
print(a)
a = 'piyush'
print(a)

# Static Binding
# int a = 5

piyush
5
nitish

# 4. Keywords & Identifiers

In [ ]:
# Identifiers
# You can't start with a digit
name1 = 'piyush'
print(name1)
# You can use special chars -> _
_ = 'piyush'
print(_)
# identiers can not be keyword

piyush
piyush

# 5. User Input

In [ ]:
# Static Vs Dynamic
input('Enter Email: ')

Enter Email: piyush.chawla@aiesec.net

'piyush.chawla@aiesec.net'

In [ ]:
# take input from users and store them in a variable
fnum = int(input('enter first number'))
snum = int(input('enter second number'))
print(type(fnum),type(snum))
# add the 2 variables
result = fnum + snum
# print the result
print(result)
print(type(fnum))

enter first number 1
enter second number 2
<class 'int'> <class 'int'>
3
<class 'int'>

# 6. Type Conversion

In [ ]:
# Implicit Vs Explicit
print(5+5.6)
print(type(5),type(5.6))

?# print(4 + '4')

10.6
<class 'int'> <class 'float'>
Object `# print(4 + '4')` not found.

In [ ]:
# Explicit
# str -> int
# int(4+5j)

# int to str
str(5)

# float
float(4)

4.0

# 7. Literals

In [ ]:
a = 0b1010 #Binary Literals
b = 100 #Decimal Literal
c = 0o310 #Octal Literal
d = 0x12c #Hexadecimal Literal

#Float Literal
float_1 = 10.5
float_2 = 1.5e2 # 1.5 * 10^2
float_3 = 1.5e-3 # 1.5 * 10^-3

#Complex Literal
x = 3.14j

print(a, b, c, d)
print(float_1, float_2,float_3)
print(x, x.imag, x.real)

10 100 200 300
10.5 150.0 0.0015
3.14j 3.14 0.0

In [1]:
string = 'This is Python'
strings = "This is \nPython"
raw_str = r"raw \n string"

print(string)
print(strings)
print(raw_str)

This is Python
This is
Python
raw \n string

In [ ]:
a = True + 4
b = False + 10

print("a:", a)
print("b:", b)

a: 5
b: 10